/* $form-floating-height:            add(3.5rem, $input-height-border);
$form-floating-line-height:       1.25;
$form-floating-padding-x:         $input-padding-x;
$form-floating-padding-y:         1rem;
$form-floating-input-padding-t:   1.625rem;
$form-floating-input-padding-b:   .625rem;
$form-floating-label-opacity:     .65;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem);
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out; */


html{
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}


.main{
  
  /*display: block;
  position: absolute;*/
  margin-top: 20px;
  
  /*height: 600px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

main{
  margin-bottom: 30px;
}


form {
  padding-bottom: 30px;
}

ul { list-style: none; }

h3{
  text-align: center;
  font-size: 23px;
}

label {
  font-weight: bold;  
  
}

button > a{
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:hover {
  color:Tomato
}

.col_border{
  border-right: 1px solid #ccc;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;   
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.wizard-card {
  min-height: 200px;
  margin-top: -25px;;
  box-shadow: 0 15px 16px -15px rgb(0 0 0 / 20%);
}